* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    min-height: 1000px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', 'Arial',
        sans-serif;
    font-size: 1em;
    line-height: 1.2;
    color: #222;
    letter-spacing: 0.01em;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.2rem 0.5rem;
    padding: 0.2rem 0.5rem;
    font-family: inherit;
    font-size: inherit;
}

svg {
    margin: 1rem;
    display: block;
    flex: 1;
    background-color: #eee;
}

svg text {
    font-family: 'Helvetica', sans-serif;
    font-size: 4vw;
    fill: #333;
    cursor: default;
}
